#loginModal .modal-dialog{
     margin-top: 150px;
 }
#loginModal .modal-content{
    border-left: 0;
}

#loginModal .modal-header{
    background-color: #3399FF;
    border-radius: 6px;
    color: #d9ebe3;
}